.about-section {
    padding: 40px 20px;
    background-color: #000000; 
    color: #333; 
    text-align: center; 
  }

.self-contact-info a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.self-contact-info img:hover {
  transform: scale(1.1); 
}

  .about-section h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #3cff00;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .about-section span {
    font-size: 1.5rem;
    color: #3cff00;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .about-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-right:40px;
  }
  .image-area {
    margin-bottom: 20px; 
  }
 
  
  .about-info p {
    max-width: 800px; 
    margin: 0 auto 30px; 
    line-height: 1.6; 
    color: #3cff00; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .self-contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;    
  }
  
  .self-contact-info a {
    display: flex;
    justify-content: center; 
    width: 100%;      
  }
  
  .self-contact-info img {
    width: 44px;   /* Increase the size of the images */
    height: auto;  
    transition: transform 0.3s ease; 
  }
  
  .self-contact-info img:hover {
    transform: scale(1.1); 
  }
  

@media (min-width: 768px) {
    .about-info {
      flex-direction: row; 
      align-items: flex-start; 
      gap: 40px; /
    }
  
    .image-area {
      margin-bottom: 0; 
    }
  
    .about-info p {
      text-align: left; 
    }
  }

  
  