.hero-area {
    display: flex;
}


.hero-image {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url("../images/background.png");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: -1;
    filter: blur(12px);
}

.hero-box {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 95vw;
    text-align: left;
    justify-content: center;
}
.hero-box h1 {
    background-color: rgb(0, 0, 0);
    font-size: calc(3em + 0.2vw);
    display: inline-block;
    margin-right: 10vw;
    margin-top: 0;
    padding-left: 0;
    box-decoration-break: slice;
    box-decoration-break: clone;
}                                       
@media screen and (max-width:100vh) {
    .hero-image {
        background-position-x: 30%;        
    }
}
@media screen and (max-width:700px) {
    .hero-box h1 {
        font-size: calc(1em + 2.3vw);
        margin-right: 5vw;
        
    }
}
.text-line {
    display: flex;
    color: rgb(0, 255, 0);
    padding-bottom: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text-line .spacer {
    flex-grow: 1;   
}
@supports (-webkit-overflow-scrolling: touch) {
    .hero-image {
        max-height: 85vh;
    }
    .hero-box {
        min-height: 85vh;
    }
}