
.navbar {
  background-color: white;
 flex-grow: 1;
 flex-shrink: 0;
 padding: 1rem;
 color: black;
 text-align: center;
 text-decoration: none;
 cursor: pointer;
 position:fixed;
 top:0;
}


.nav-logo a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}


.nav-links {
  display: flex;
  gap: 20px;
}


.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #f4c242; 
}


body {
  padding-top: 60px; 
}
